.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: black;
}

.picture {
  width: 400px;
  height: 250px;
  transition: transform 0.5s;
}

.picture:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.picture-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.picture-name {
  font-size: 3rem;
  display: block;
  text-align: center;
}
