.h1 {
  font-size: 5rem;
  margin: 4rem auto 2rem;
  text-align: center;
}

.instructions {
  text-align: center;
  font-size: 2.5rem;
  opacity: 0.6;
  margin-bottom: 5rem;
}

.pictures-grid {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 350px;
  gap: 2rem;
}
