.modal {
  position: fixed;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  width: clamp(400px, 70%, 700px);
  align-items: center;
}

.prompt {
  font-size: 3rem;
  text-align: center;
}

.input {
  width: 50%;
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

.post-btn {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  transition: transform 0.5s;
  background-color: greenyellow;
}

.post-btn:hover {
  transform: scale(1.05);
}
