.h1 {
  font-size: 5rem;
  text-align: center;
}

.instructions {
  font-size: 2rem;
  text-align: center;
  margin: 3rem auto;
  opacity: 0.7;
}

.picture-container {
  position: relative;
  width: 95%;
  margin: 0 auto;
  display: block;
}

.picture {
  width: 100%;
}

.h2 {
  text-align: center;
  font-size: 3rem;
}

.characters-instructions {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.characters-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characters-list > li {
  font-size: 2.5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 5px;
}

.character-pic {
  width: 40px;
}

.no-records-msg {
  font-size: 1.5rem;
  text-align: center;
  margin: 3rem auto;
}

.records-list {
  display: grid;
  grid-template-columns: max-content 30px max-content;
  gap: 0.5rem;
  width: max-content;
  margin: 2rem auto;

  counter-reset: rec; /* <— Initialize counter */
}

.record {
  display: grid;
  grid-column: 1 / -1;
  font-size: 2rem;
  grid-template-columns: subgrid;

  counter-increment: rec; /* <— Increase for each record */
  position: relative; /* needed for ::before positioning */
}

/* Add number */
.record::before {
  content: counter(rec) '. ';
  position: absolute;
  left: -3ch; /* adjust as needed */
  text-align: right;
  width: 2ch;
}

.record-divider {
  justify-self: center;
}
